<style>
    .large-collection-intro{
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .large-collection-intro > img{
        position: absolute; 
        z-index: -1;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition-duration: 0.5s;
        filter: brightness(0.85);
    }

    .large-collection-intro:hover > img{
        transform: scale(1);
        filter: brightness(0.5);
        transition-duration: 0.5s;

    }
 
    .large-collection-intro .collection-intro-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .large-collection-intro .collection-hashtag {
    color: white;
    }

    .large-collection-intro .collection-name{
    font-size: 75px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 5px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: white;
    }

     /* responsive for collection name */
     @media only screen and (max-width: 1198px){
        .large-collection-intro .collection-name{
            font-size: 46px;    
        }
    }
    @media only screen and (max-width: 1024px){
        .large-collection-intro .collection-name{
            font-size: 24px;    
        }
    }
        
</style>

<div class="large-collection-intro">
    <img src="{{background_image_url | img_url: 'master'}}" alt="">
    <div class="collection-intro-content">
        <div class="collection-hashtag">
           {{collection_hashtag}}
        </div>
        <div class="collection-name"> 
            {{collection_name}}
        </div>
        {% render 'shop-now-button' with
            button_name: {{button_name}},
            button_url: {{button_url}}
        %}
    </div>
</div>

