<style>
    .product-card{
        position: relative; 
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .product-card .product-image{
        width: 100%;
        aspect-ratio: 240/268;
    }
    .product-card img{
        width: 100%;
    }

    .product-card .image-1{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0; 
        opacity: 1;
        transition-duration: 0.5s;
    }

    .product-card .image-2{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition-duration: 0.5s;
    }

    .product-card:hover .image-1{
        opacity: 0;
        transition-duration: 0.5s;
    }

    .product-card:hover .image-2{
        opacity: 1;
        transition-duration: 0.5s;
    }

    .product-card .product-info{
        padding: 7px 0; 
    }

    .product-card .product-name{
        font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        color:rgb(74, 65, 65);
        margin-bottom: 2px;
    }

    .product-card .product-name:hover{
        color: rgb(163, 139, 94);
    }

    .product-card .product-price{
        cursor: auto;
        color: rgb(152, 152, 152);
        font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
    }

    .product-card .label-new, .label-hot{
        position: absolute;
        top: 20px; 
        right: 20px; 
        color: white;
        font-size: 12px;
        font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
        padding: 5px 30px ; 
        border-radius: 30px;
    }


</style>


<div class="product-card">  
    <div class="product-image" onclick="redirectToUrl('{{product.url}}')">
        {% render 'icon-tooltip-set' with
            show_quickView: show_quickView,
            show_addToCart: show_addToCart,
            show_addToWishlist: show_addToWishlist
        %}
        <img src="{{product.images[0].src |  image_url: width: 1380 }}" alt="" class="image-1">
        <img src="{{product.images[1].src |  image_url: width: 1380 }}" alt="" class="image-2">
    </div>
    <div class="product-info">
        <div class="product-name" onclick="redirectToUrl('{{product.url}}')">
            {{product.title}}
        </div>
        <div class="product-price">
            {{product.price |  money}}
        </div>
    </div>
    {% if product.tags contains 'New' %}
        <span class="label-new" style="background-color: #1c1c1c;">New</span>
    {% endif %}
    {% if product.tags contains 'Hot' %}
        <span class="label-hot" style="background-color:  #d64343">Hot</span>
    {% endif %}
</div>